In [1]:
#!pip install lxml

Requirement already satisfied: lxml in /home/leo/anaconda3/envs/sm/lib/python3.6/site-packages (4.5.1)

In [2]:
import yfinance
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

In [4]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 137000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides digital content stores and streaming services; AppleCare support services; and iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers various service, such as Apple Arcade, a game subscription service; Apple Card, a co-branded credit card; Apple News+, a subscription news and magazine service; and Apple Pay, a cashless payment service, as well as licenses its intellectual property, and provides other related services. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store, Mac App Store, and Watch App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. has a collaboration with Google to develop COVID-19 tracking system for Android and iOS devices. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 353.63,
 'regularMarketOpen': 353.25,
 'twoHundredDayAverage': 299.39972,
 'trailingAnnualDividendYield': 0.008709668,
 'payoutRatio': 0.2408,
 'volume24Hr': None,
 'regularMarketDayHigh': 360.9499,
 'navPrice': None,
 'averageDailyVolume10Day': 47804283,
 'totalAssets': None,
 'regularMarketPreviousClose': 353.63,
 'fiftyDayAverage': 331.95822,
 'trailingAnnualDividendRate': 3.08,
 'open': 353.25,
 'toCurrency': None,
 'averageVolume10days': 47804283,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 3.28,
 'exDividendDate': 1588896000,
 'beta': 1.170435,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 351.3,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 28.321812,
 'regularMarketVolume': 16539151,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1562439319552,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 37332785,
 'priceToSalesTrailing12Months': 5.830411,
 'dayLow': 351.3,
 'ask': 360.67,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 16539151,
 'fiftyTwoWeekHigh': 372.38,
 'forwardPE': 24.274748,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.58,
 'fiftyTwoWeekLow': 192.58,
 'bid': 360.72,
 'tradeable': False,
 'dividendYield': 0.0093,
 'bidSize': 1200,
 'dayHigh': 360.9499,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 5.812,
 'beta3Year': None,
 'profitMargins': 0.21350001,
 'enterpriseToEbitda': 20.147,
 '52WeekChange': 0.75455225,
 'morningStarRiskRating': None,
 'forwardEps': 14.85,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4334329856,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 18.137,
 'sharesShort': 34828293,
 'sharesPercentSharesOut': 0.008,
 'fundFamily': None,
 'lastFiscalYearEnd': 1569628800,
 'heldPercentInstitutions': 0.62115,
 'netIncomeToCommon': 57215000576,
 'trailingEps': 12.728,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.015086055,
 'priceToBook': 19.875395,
 'heldPercentInsiders': 0.00066,
 'nextFiscalYearEnd': 1632787200,
 'mostRecentQuarter': 1585353600,
 'shortRatio': 1.09,
 'sharesShortPreviousMonthDate': 1589500800,
 'floatShares': 4329870635,
 'enterpriseValue': 1557460942848,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1402272000,
 'lastSplitFactor': '7:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.027,
 'dateShortInterest': 1592179200,
 'pegRatio': 2.57,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.008,
 'sharesShortPriorMonth': 33592445,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 353.25,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [9]:
start_date = "2010-01-01"
end_date = "2020-06-29"
hist = aapl.history(period="max")

In [19]:
aapl.actions.sort_values("Dividends")
#result.sort(key = lambda x : -x['training_forward_return'])

            Dividends  Stock Splits
Date
2014-06-09    0.00000           7.0
2013-02-07    0.37857           0.0
2012-08-09    0.37857           0.0
2012-11-07    0.37857           0.0
2013-05-09    0.43571           0.0
2013-08-08    0.43571           0.0
2013-11-06    0.43571           0.0
2014-02-06    0.43571           0.0
2014-05-08    0.47000           0.0
2014-08-07    0.47000           0.0
2014-11-06    0.47000           0.0
2015-02-05    0.47000           0.0
2015-05-07    0.52000           0.0
2015-08-06    0.52000           0.0
2015-11-05    0.52000           0.0
2016-02-04    0.52000           0.0
2017-02-09    0.57000           0.0
2016-11-03    0.57000           0.0
2016-05-05    0.57000           0.0
2016-08-04    0.57000           0.0
2017-05-11    0.63000           0.0
2017-08-10    0.63000           0.0
2017-11-10    0.63000           0.0
2018-02-09    0.63000           0.0
2018-05-11    0.73000           0.0
2018-08-10    0.73000           0.0
2018-11-08    0.73000           0.0
2019-02-08    0.73000           0.0
2020-02-07    0.77000           0.0
2019-05-10    0.77000           0.0
2019-08-09    0.77000           0.0
2019-11-07    0.77000           0.0
2020-05-08    0.82000           0.0

In [21]:
aapl.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [26]:
aapl.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [29]:
aapl.major_holders

        0                                      1
0   0.07%        % of Shares Held by All Insider
1  62.12%       % of Shares Held by Institutions
2  62.16%        % of Float Held by Institutions
3    4296  Number of Institutions Holding Shares

In [31]:
aapl.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [33]:
aapl.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [35]:
aapl.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [37]:
aapl.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [39]:
aapl.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [41]:
aapl.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [43]:
aapl.sustainability

                                     Value
2020-3
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                             13
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                         0
peerCount                               57
governanceScore                      10.26
environmentPercentile                    0
animalTesting                        False
tobacco                              False
totalEsg                             23.82
highestControversy                       3
esgPerformance                    AVG_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           32.44
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.55
governancePercentile                     0
militaryContract                     False

In [45]:
aapl.recommendations

                                  Firm        To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity             Buy              main
2012-03-08 07:33:00     FBN Securities      Outperform              main
2012-03-13 06:08:00          Jefferies             Buy              main
2012-03-14 06:13:00     Morgan Stanley      Overweight              main
2012-03-14 08:21:00  Canaccord Genuity             Buy              main
...                                ...             ...        ...    ...
2020-06-23 11:57:21              Baird      Outperform              main
2020-06-23 15:44:48          Bernstein  Market Perform              main
2020-06-23 15:49:39      Deutsche Bank             Buy              main
2020-06-23 15:51:49                UBS             Buy              main
2020-06-25 09:00:31            Wedbush      Outperform              main

[713 rows x 4 columns]

In [47]:
aapl.calendar

                                    0                    1
Earnings Date     2020-07-28 00:00:00  2020-08-03 00:00:00
Earnings Average                    2                    2
Earnings Low                     1.55                 1.55
Earnings High                    2.47                 2.47
Revenue Average           51510300000          51510300000
Revenue Low               42799000000          42799000000
Revenue High              55838000000          55838000000

In [50]:
aapl.isin

'US0378331005'

In [57]:
aapl.options

('2020-07-02',
 '2020-07-10',
 '2020-07-17',
 '2020-07-24',
 '2020-07-31',
 '2020-08-07',
 '2020-08-21',
 '2020-09-18',
 '2020-10-16',
 '2020-11-20',
 '2020-12-18',
 '2021-01-15',
 '2021-06-18',
 '2021-09-17',
 '2022-01-21',
 '2022-06-17',
 '2022-09-16')

In [59]:
opt = aapl.option_chain('YYYY-MM-DD')

ValueError: Expiration `YYYY-MM-DD` cannot be found. Available expiration are: [2020-07-02, 2020-07-10, 2020-07-17, 2020-07-24, 2020-07-31, 2020-08-07, 2020-08-21, 2020-09-18, 2020-10-16, 2020-11-20, 2020-12-18, 2021-01-15, 2021-06-18, 2021-09-17, 2022-01-21, 2022-06-17, 2022-09-16]

In [65]:
n_forward = 2
tickers = yf.Tickers('AAPL NVDA')
data = tickers.history(interval="1d",start=start_date,end=end_date)

[*********************100%***********************]  2 of 2 completed

In [66]:
data.head()

                Close            Dividends            High             \
                 AAPL       NVDA      AAPL NVDA       AAPL       NVDA
Date
2010-01-04  26.466835  17.010056       0.0  0.0  26.527434  17.129651
2010-01-05  26.512596  17.258446       0.0  0.0  26.662238  17.442437
2010-01-06  26.090879  17.368835       0.0  0.0  26.617719  17.405635
2010-01-07  26.042646  17.028448       0.0  0.0  26.218260  17.350434
2010-01-08  26.215786  17.065248       0.0  0.0  26.218259  17.184844

                  Low                  Open            Stock Splits       \
                 AAPL       NVDA       AAPL       NVDA         AAPL NVDA
Date
2010-01-04  26.265252  16.660472  26.395106  17.028455          0.0    0
2010-01-05  26.372848  16.945659  26.539804  16.945659          0.0    0
2010-01-06  26.063673  17.083648  26.512597  17.249241          0.0    0
2010-01-07  25.853430  16.899654  26.187342  17.276838          0.0    0
2010-01-08  25.854667  16.789261  26.008017  16.890457          0.0    0

               Volume
                 AAPL      NVDA
Date
2010-01-04  123432400  20005100
2010-01-05  150476200  18216200
2010-01-06  138040000  16229200
2010-01-07  119282800  13694800
2010-01-08  111902700  11954200

In [64]:
data['Forward Close'] = data['Close'].shift(-n_forward)

# The revenue from Forward Close which include Close price 2days after(future) to Current Close price.
data['Forward Return'] = (data['Forward Close'] - data['Close'])/data['Close']

ValueError: Wrong number of items passed 2, placement implies 1